# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    permissions: write-all
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      - name: View context attributes
        uses: actions/github-script@v6
        with:
          script: console.log(context.rep)

      - name: create 1
        uses: actions/github-script@v6
        continue-on-error: true
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          debug: true
          script: |
              await github.request("POST /repos/{owner}/{repo}/git/refs", {
                  owner: "baszoetekouw",
                  repo: "test-actions",
                  ref: "refs/tags/latest",
                  sha: "2b910987a7a3bbed0f7436a90111bffec5ec902e"
              });

      - name: Run latest-tag
        uses: EndBug/latest-tag@latest
        with:
          tag-name: "latest"
          description: Description for the tag

      - name: Create Release for main/latest
        uses: softprops/action-gh-release@v1
        with:
          name: "latest"
          tag_name: "latest"
          prerelease: true
          files: "/etc/fstab"

      - name: Delete old foo tag
        uses: actions/github-script@v6
        continue-on-error: true
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          debug: true
          script: |
              await github.rest.git.deleteRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: "tags/foo"
              })

      - name: set new foo tag
        uses: actions/github-script@v6
        continue-on-error: true
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          debug: true
          script: |
              await github.rest.git.createRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: "tags/foo",
                sha: "4e0793311bd77bbf70647bb85045016aba654d97"
              })


